<div class="container">
  <app-login-inside-toolbar></app-login-inside-toolbar>

  <div class="titleSection">
    <ion-label class="titleText">¡LO DE HOY!</ion-label>
    <ion-button class="titleButton">Ver todos</ion-button>
  </div>
  <app-list-products-xscroll
    [listProducts]="listItems"
    [sectionValue]="'productsStandard'"
  ></app-list-products-xscroll>

  <div class="titleSection">
    <ion-label class="titleText">¡LO QUE TODOS BUSCAN!</ion-label>
    <ion-button class="titleButton">Ver todos</ion-button>
  </div>
  <app-list-products-xscroll
    [listProducts]="listItems"
    [sectionValue]="'productsStandard'"
  ></app-list-products-xscroll>
</div>
