.card {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vw;
  padding: 2vw 0px 2vw 2vw;
  width: 43vw;
  border: none;
  background-color: white;

  .headerCard {
    align-items: center;
    height: 20%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    background-color: white;

    .title {
      width: 70%;
      font-size: 9.5pt;
      font-weight: 700;
      color: #425f66;
    }
    .favoriteSection {
      width: 16%;
      margin-left: 2vw;
      ion-button {
        --padding-start: 5px;
        --padding-end: 0px;
        margin: 0%;
      }
    }
  }
  .bodyCard {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;

    .leftBodyCard {
      flex: 60%;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      .description {
        flex: 20%;
        overflow: hidden;
        padding: 0px;
        margin: 0px;
        h5 {
          padding: 0px;
          margin: 0px;
          font-size: 7pt;
          color: #999999;
          line-height: 1em;
        }
      }
      .productList {
        flex: 50%;
        overflow: hidden;
        margin-top: -2vw;
        padding-top: 0px;

        ul {
          list-style: none;
          padding: 0px;
          width: 100%;

          li {
            width: 85%;
            font-size: 7pt;
            margin-bottom: 0.7vw;
            color: #425f66;
            font-weight: 700;
          }
        }
      }
      .priceAndGoToRecipe {
        padding-top: 15%;
        flex: 30%;
        overflow: hidden;
        padding-right: 8%;

        .totalPrice {
          font-size: 8pt;
          padding: 0px;
          margin: 0px;
          font-weight: 800;
        }
        .lintToRecipe {
          font-size: 6.5pt;
          padding: 0px;
          margin: 1vw 0px 0px;
          color: #57b51a;
          font-weight: 800;
        }
      }
    }

    .rightBodyCard {
      flex: 40%;
      img {
        height: 100%;
      }
    }
  }

  .footerCard {
    height: 13%;
    width: 100%;
    display: flex;
    justify-content: center;

    ion-button {
      --padding-start: 0px;
      --padding-end: 0px;
      margin-top: -3vw;
      height: 150%;
    }
  }
}
