<div class="card">
  <h2>soyyo@unacuenta.com</h2>
  <div class="textLogo">
    <img
      slot="start"
      src="assets/huertoGo/ANDROID/009_Perfil/002_Perfil/003_icon_Check.svg"
      height="25vw"
    />
    <h3>Tu correo electrónico</h3>
  </div>
</div>

<div class="card">
  <h2>* * * * * * * *</h2>
  <div class="textLogo">
    <img
      slot="start"
      src="assets/huertoGo/ANDROID/009_Perfil/002_Perfil/003_icon_Check.svg"
      height="25vw"
    />
    <h3>Contraseña con 8 caracteres Alphanumericos</h3>
  </div>
</div>

<ion-button
  expand="block"
  shape="round"
  color="57b41b"
  class="aceptarButton buttons"
  (click)="onClick()"
>
  Cambiar contraseña
</ion-button>
