.card {
  align-items: flex-start;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 25vw;
  justify-content: center;
  margin-top: 5vw;
  padding-left: 10vw;
  width: 96vw;

  h2 {
    color: #a5a5a5;
    font-size: 12.5pt;
    margin: 0px 0px 8px 0px;
    padding: 0px;
  }

  h3 {
    color: #425f66;
    font-size: 12pt;
    margin: 0px;
    padding: 0px;
  }
}
