ion-card-header {
  padding-top: 2vw;
  padding-bottom: 0%;
  align-items: center;
  text-align: center;
  padding-left: 0%;
  padding-right: 0%;

  img {
    max-width: 100%;
    object-fit: contain;
  }

  ion-card-title {
    margin-top: 0%;
    padding-top: 1vw;
    font-size: 7.5pt;
    font-weight: 900;
  }
}
