<div class="deliveryContainer">
  <ion-header class="ion-no-border">
    <ion-button
      (click)="onClicInit()"
      fill="clear"
      class="backButton headerButtons"
    >
      <img
        src="assets/huertoGo/ANDROID/006_Inicio/001_btn_inicio1.svg"
        alt="backButton"
        class="backLogo"
        height="60vw"
      />
    </ion-button>
  </ion-header>

  <div class="order">
    <div class="imageOrder">
      <img
        src="assets/huertoGo/ANDROID/010_Pedido/008_icon_pedidolisto.svg"
        alt="orderImage"
        class="orderImage"
        height="100vw"
      />
    </div>

    <div class="informationOrder">
      <h1>
        ¡TU PEDIDO <br />
        ESTA LISTO!
      </h1>
      <h4>
        Será entregado el dia de mañana <br />
        Miercoles 15 de Septiembre <br />
        del 2021 <br />
        entre 9:00 y 10:00 am
      </h4>
      <h2>¡Esperalo!</h2>
    </div>

    <button class="buttonConsult">Consultar detalles del pedido</button>
  </div>
</div>
