<ion-content>
  <ion-grid fixed="true">
    <ion-row class="img-disp">
      <ion-col size="12">
        <ion-img
          src="/assets/huertoGo/ANDROID/001_Splash/001_Logoxxhdpi.png"
          style="width: 256px; height: 119px"
        ></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="main-text-disp">
      <ion-col size="12" class="main-text-disp2">
        <ion-text color="dark">
          <h2 class="ion-text-center welcome-text-height">
            <strong>Acercamos</strong> los productos <br />
            que necesitas<br />
            <strong>directo del fabricante</strong> <br />
            a tu <strong>ubicación.</strong>
          </h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="version-text">
      <ion-col size="12">
        <h5>version 1.0</h5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
