<ion-card class="lastOrderCard">
  <div class="leftSide">
    <div class="deliveryId">
      <h5>
        Pedido <span>{{ deliveryId }}</span>
      </h5>
    </div>
    <div class="deliveryDate">
      <p>
        Entrega {{ dateDDMMYY }} <span>{{ timeHHMM }} Hr</span>
      </p>
    </div>
  </div>
  <div class="rightSide">
    <h4>Total - {{ totalPrice | currency }} MXN</h4>
    <img
      src="assets/huertoGo/ANDROID/009_Perfil/002_Perfil/002_Btn_Arrow.svg"
      height="10vw"
    />
  </div>
</ion-card>
