<app-header></app-header>

<ion-content>
  <div id="content">
    <div id="header">
      <img src="assets/huertoGo/ANDROID/002_Ingresa/001_icon_logo.svg" />
      <h1>¿Olvidaste <br />tu contraseña?</h1>
    </div>
    <h2 class="text-secondary">
      Ingresa tu correo electrónico, <br />
      te enviaremos una clave <br />
      de recuperación
    </h2>
  </div>

  <form id="form">
    <app-input
      placeholder="ej.soyyo@unacuenta.com"
      type="text"
      labelText="Tu correo electrónico"
      (inputValue)="emailEvent($event)"
    ></app-input>
    <div class="buttons">
      <ion-button
        expand="block"
        shape="round"
        color="57b41b"
        class="aceptarButton"
        (click)="onClickConfirm(email)"
      >
        Confirmar
      </ion-button>
      <ion-button
        expand="block"
        shape="round"
        color="FFA81B"
        class="cancelarButton"
        (click)="onClickCancel()"
      >
        Cancelar
      </ion-button>
    </div>
  </form>
</ion-content>
