<div class="input-container">
  <ion-row>
    <ion-col size="12">
      <ion-select *ngIf="arrayOption === 'gender'">
        <ion-select-option
          *ngFor="let gender of genders; let i = index"
          value="{{ gender.name }}"
          >{{ gender.name }}</ion-select-option
        >
      </ion-select>

      <ion-select *ngIf="arrayOption === 'states'" [placeholder]="placeholder">
        <ion-select-option
          *ngFor="let state of states; let i = index"
          value="{{ state.name }}"
          >{{ state.name }}</ion-select-option
        >
      </ion-select>
    </ion-col>
    <ion-col size="12">
      <ion-text color="primary">
        <h1>
          {{ labelText }}
          <span *ngIf="required === 'true'" class="requiredText">*</span>
        </h1>
      </ion-text>
    </ion-col>
  </ion-row>
</div>
