<form
  [formGroup]="myFormNested"
  *ngIf="arrayOption === 'date'"
  class="input-container"
>
  <ion-row class="formGroupDate">
    <ion-col size="3">
      <ion-select
        formControlName="yearForm"
        class="yearInput"
        [(ngModel)]="itemSelectedYear"
        (ionChange)="getItemYear(itemSelectedYear)"
      >
        <ion-select-option
          *ngFor="let year of years; let i = index"
          value="{{ actualYear - i }}"
          >{{ actualYear - i }}</ion-select-option
        >
      </ion-select>
    </ion-col>

    <ion-col size="4">
      <ion-select
        formControlName="monthsForm"
        class="monthInput"
        [(ngModel)]="itemSelectedMonth"
        (ionChange)="getItemMonth(itemSelectedMonth)"
      >
        <ion-select-option
          *ngFor="let month of months; let i = index"
          value="{{ month.id }}"
          >{{ month.name }}</ion-select-option
        >
      </ion-select>
    </ion-col>

    <ion-col size="3">
      <ion-select
        formControlName="daysForm"
        class="dayInput"
        [(ngModel)]="itemSelectedDay"
        (ionChange)="getItemDay(itemSelectedDay)"
      >
        <ion-select-option
          *ngFor="let day of daysArray; let i = index"
          value="{{ i + 1 }}"
          >{{ i + 1 }}</ion-select-option
        >
      </ion-select>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-text color="primary">
        <h1>
          {{ labelText }}
          <span *ngIf="required === 'true'" class="requiredText">*</span>
        </h1>
      </ion-text>
    </ion-col>
  </ion-row>
</form>
