<ion-header no-border>
  <ion-button (click)="onClickLogo()" fill="clear" class="logo">
    <img
      src="assets/huertoGo/ANDROID/006_Inicio/001_btn_inicio1.svg"
      alt="FavButton"
      class="logo"
    />
  </ion-button>

  <ion-button
    (click)="onClickSendTo()"
    fill="clear"
    class="sentToButton"
    *ngIf="!disabledSendTo"
  >
    <div class="sendToItems">
      <img
        src="assets/huertoGo/ANDROID/006_Inicio/002_btn_ubicacion1.svg"
        height="25px"
      />
      <ion-label>Enviar a 45086...</ion-label>
    </div>
  </ion-button>

  <ion-button (click)="onClickCart()" fill="clear" class="cart">
    <img
      src="assets/huertoGo/ANDROID/006_Inicio/003_btn_carrito1.svg"
      alt="FavButton"
      class="cart"
    />
  </ion-button>
</ion-header>
