ion-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7.5vh;
  position: inherit;
  align-items: center;
  margin-top: 2vw;

  .logo {
    height: 100%;
    background-image: url("/assets/huertoGo/WEB/003_Registro/000_Blur2-8.png");
    background-size: 20vw;
    background-position: -2vw;
    background-repeat: no-repeat;

    img {
      height: 11.8vw;
    }
  }

  .sendToItems {
    display: flex;
    flex-direction: row;
    align-items: center;

    ion-label {
      color: #8d9c9e;
      font-size: 8.2pt;
      font-weight: 600;
    }
  }

  .cart {
    height: 100%;

    img {
      height: 11.5vw;
    }
  }
}

ion-button {
  text-transform: none !important;
}

ion-label {
  font-size: 7.5pt;
  margin-left: 8px;
}
