<div class="listScrollX" *ngIf="sectionValue === 'productsStandard'">
  <app-card
    *ngFor="let item of listProducts; let i = index"
    [product]="item"
    [typeCard]="typeCard"
    class="item"
  ></app-card>
</div>

<div class="listScrollX" *ngIf="sectionValue === 'productsSearched'">
  <app-card
    *ngFor="let item of listProducts; let i = index"
    [product]="item"
    [typeCard]="typeCard"
    class="item"
  ></app-card>
</div>

<div class="listScrollX" *ngIf="sectionValue === 'recipesStandard'">
  <app-recipe-card
    *ngFor="let item of listRecipes; let i = index"
    [recipe]="item"
    class="item"
  ></app-recipe-card>
</div>
