.payMethodContainer {
  background-color: #fffef1; //black; //#fffef1
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  height: 100%;

  .card {
    margin-top: 3vw;
    width: 100%;
  }

  h2 {
    color: #425f66;
    font-size: 12.5pt;
    font-weight: 700;
    margin-top: 6vw;
  }

  .buttonPayMethod {
    margin-top: 6vw;
    width: 96%;
    height: 45px;
    background-color: #57b41b;
    color: white;
    border-radius: 15px;
    font-size: 15pt;
    font-weight: 600;
  }

  .balance {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-top: 14vw;
    align-items: center;
    justify-content: space-between;
    width: 96vw;

    .textImage {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 4vw;

      h5 {
        color: #ff9045;
        font-size: 9pt;
        font-weight: 600;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        margin: 0% 0% 0% 2vw;
        font-weight: 700;
      }
    }

    label {
      color: #425f66;
      font-size: 9pt;
      font-weight: 600;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      margin: 0% 4vw 0% 0%;
      font-weight: 700;
    }
  }

  .linkRef {
    color: #57b41b;
    font-size: 13.5pt;
    font-weight: 700;
    margin-top: 14vw;

    &:active {
      color: #99eb62;
    }
  }
}
