<div class="card">
  <div class="section">
    <h2>45086</h2>
    <hr />
    <h3>Tu codigo postal</h3>
  </div>

  <div class="section">
    <h2>Rio verde No 1245</h2>
    <hr />
    <h3>Tu calle (s)</h3>
  </div>
</div>

<ion-button
  expand="block"
  shape="round"
  color="FF9045"
  class="deleteButton buttons"
  (click)="onClickDelete()"
>
  <div class="textIcon">
    <h2>Predeterminada</h2>
    <img
      slot="end"
      src="assets/huertoGo/ANDROID/009_Perfil/002_Perfil/004_icon_trash.svg"
      height="17vw"
    />
  </div>
</ion-button>

<ion-button
  expand="block"
  shape="round"
  color="57b41b"
  class="addNewButton buttons"
  (click)="onClickAdd()"
>
  Agregar Nueva
</ion-button>
